:root {
  --primary-bgc: #ffffff;
  --secondary-bgc: #f5f4fa;

  --main-text-color: #757575;
  --title-text-color: #212121;

  --accent-color: #2196f3;
  --logo-color: #000000;
  --sm-color: #afb1b8;
}

body {
  background-color: var(--primary-bgc);
  color: var(--main-text-color);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* * {  outline: 1px solid red;} */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

h1,
h2,
h3,
h4 {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

/* Navigation */
.main-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.navigation .item:not(:last-child) {
  margin-right: 50px;
}

.navigation-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.navigation-item:hover,
.navigation-item:focus {
  color: var(--accent-color);
}

.navigation-item.current {
  color: var(--accent-color);
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 1.19;

  color: var(--logo-color);
  text-decoration: none;
}

header .logo {
  padding: 24px 93px 25px 0;
}

.accent {
  color: var(--accent-color);
}

.contact.main {
  display: flex;
  margin-left: auto;
}

.contact.main .item:not(:last-child) {
  margin-right: 40px;
}

.contact-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  fill: var(--main-text-color);
}

header .contact-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.main .contact-item {
  display: flex;
}

.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.icon-envelope,
.icon-smartphone {
  width: 16px;
  height: 12px;
  margin: 2px 10px 2px 0;
}

/* Hero */
.hero {
  text-align: center;
  padding-top: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px auto 30px;

  width: 700px;
  color: var(--primary-bgc);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg), url(../images/Bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Buttons */

.button {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

  text-align: center;
}

.button.primary {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding: 10px 24px;
}

.button.secondary {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bgc);
  color: var(--title-text-color);
  min-width: 125px;
  height: 38px;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-bgc);
}

/* Why we */
.section.preference {
  padding-top: 94px;
}

.preference.list {
  display: flex;
  flex-wrap: wrap;
}

.preference.list .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.preference.list .item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.preference .item {
  width: 270px;
}

.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: var(--secondary-bgc);
  border-radius: 4px;
  margin-bottom: 30px;
}

.preference-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* What we do */

.section.activity,
.section.team,
.section.clients,
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity-title,
.team-title,
.clients-title,
.contact-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
}

.activity-list .item {
  display: block;
}

.activity .item:not(:last-child) {
  margin-right: 30px;
}

/* Our team */
.team {
  /* max-width: 1600px; */
  background-color: var(--secondary-bgc);
  background-position: center;
}

.team-members.list {
  display: flex;
}

.team-members .item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-members .item:not(:last-child) {
  margin-right: 30px;
}

.card {
  padding: 30px 0;
}

.team-member {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.smlist {
  display: flex;
  margin: 0 32px 30px 32px;
  padding: 0;
}

.smlist-item {
  width: 44px;
  height: 44px;
}

.smlist-item:not(:last-child) {
  margin-right: 10px;
}

.smhref {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: var(--sm-color);
}
.smlist-item:hover,
.smlist-item:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.smhref:hover,
.smhref:focus {
  fill: var(--primary-bgc);
}

/* Clients */

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.clients-item:nth-last-child(-n + 6) {
  margin-bottom: 0;
}

.clients-item:nth-child(6n) {
  margin-right: 0;
}

.clients-link {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--sm-color);
}

.clients-link:hover,
.clients-list:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clients-logo {
  width: 106px;
  height: 60px;
  margin: 16px 32px;
}

/* Footer */

.footerbg {
  max-width: 1600px;
  height: 251px;
  margin: 0 auto;
  background-image: url(../images/bgfooter.svg);
  background-position: center;
}

.footer.list {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .logo {
  margin-bottom: 28px;
}

.fcol {
  color: var(--primary-bgc);
}

.footer-item {
  margin-top: 12px;
}

footer .container {
  display: flex;
}

.joinus {
  margin: 72px 0 0 70px;
}

.join {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;

  color: var(--primary-bgc);
}

.join-items {
  display: flex;
}

footer .item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  /* color: var(--primary-bgc, 0.1); */
  /* background-image: url(../images/ellipse.svg); */
  margin-right: 10px;
}

footer .item:hover {
  background-color: var(--accent-color);
}

.smlink {
  margin: 12px;
}

/* Portfolio */
.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav .item:not(:last-child) {
  margin-right: 8px;
}

.exemples .list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.exemples a {
  text-decoration: none;
}

.exemples .item {
  width: 370px;
  margin: 15px;

  background: var(--primary-bgc);
  border: 1px solid #eeeeee;
}

.exemples .item:hover,
.exemples .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.exemples-container {
  padding: 20px 24px;
}

/* .exemples .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.exemples .item:nth-child(3n) {
  margin-right: 0;
}

.exemples .item:nth-last-child(-n+3) {
margin-bottom: 0;
} */

.exemple-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
}

.exemple-descr {
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
}

.exemple-description {
  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-bgc);
  background-color: var(--accent-color);
  text-decoration: none;
}

/* Contacts */

.contact-container {
  padding: 94px 0;
}
